@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}

.loader__spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  /* shade of green */
  border-left-color: #2ecc71; ;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}