@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}
html{
  scroll-behavior: smooth;

}
.loader__spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  /* shade of green */
  border-left-color: #2ecc71; ;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
.modal-container-order{
  background: transparent;
}
.main-order-modal{
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../assets/success.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.section-bg{

  background:   linear-gradient(rgba(60, 230, 131, 0.2), rgba(60,230,131,0.2)),url("/crop_6.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-bg-2{

  background: linear-gradient(rgba(60, 230, 131, 0.2), rgba(60,230,131,0.2)), url("/crop_3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.section-bg-3{

  background: linear-gradient(rgba(60, 230, 131, 0.3), rgba(60,230,131,0.3)), url("/logo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(5, 129, 57);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgb(71, 216, 131);
  border-radius: 6px;
}

.animate-fadeIn{
  animation: fadeIn 1s ease-in-out;
}
.animate-fadeOut{
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fromLeft{
  animation: fromLeft 1s ease-in-out;
}
.animate-fromRight{
  animation: fromRight 1s ease-in-out;
}
.animate-fromBottom{
  animation: fromBottom 1s ease-in-out;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-8%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(8%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(8%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}